---
title: 404 - Esta página no existe
url: /404.html
---

<main style="padding-top: 10vh">
  {{
    include "templates/blocks/header.vto"
    {
      block: {
        is_center: true,
        subtitle: "Error 404",
        intro: "**Eres un tarugo**, esta página no existe",
      }
    }
  }}

</main>