.block-contact {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2em;

  & address {
    font-style: normal;

    & p {
      margin-top: 0;
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: .2em 0;
  }
  & img {
    vertical-align: middle;
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & header {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & header {
      grid-column: 1;
    }
  }
}

.block-contact-image {
  width: 6em;
  float: left;
  margin: 0 1em 1em 0;
  border-radius: var(--border-radius-small);
}
.block-contact-subheader {
  display: flow-root;
}