.block-quotes-items {
  max-width: 800px;
  margin: 0 auto;
}

.block-quotes-nav {
  margin-top: 2em;
}

.block-quotes-item {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2em;
  margin: 0;
  flex: 0 0 auto;
  scroll-snap-align: center;

  & blockquote {
    font-size: var(--font-4-size);
    letter-spacing: var(---font-4-spacing);
    line-height: var(--line-height-intro);
    padding-left: 3rem;
    padding-top: 2rem;
    margin: 0;

    & p {
      margin: .5em 0;
    }

    &::after {
      width: 80px;
      height: 80px;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      border-color: transparent;
    }
  }

  & figcaption {
    font-size: var(--font-1-size);
    letter-spacing: var(---font-1-spacing);
    line-height: var(--line-height-intro);
    display: flex;
    align-items: center;
    color: var(--color-gray);
    padding-left: 3rem;
  }
  & cite {
    font-style: normal;
    font-weight: bold;
  }
  & img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin-right: 1em;
  }
}