<footer class="footer">
  <div>
    {{ footer.copyright | md | safe }}
  </div>

  <ul>
    {% for item in footer.menu %}
    <li>
        <a href="{{ item.href }}">
            {{ item.text }}
        </a>
    </li>
    {% endfor %}
  </ul>

  <img class="footer-logo" src="/img/icons/trg-duotone.svg" width="40" height="40">
</footer>