.navbar {
  position: sticky;
  top: 0;
  grid-column: 1 / -1;
}

.navbar-content {
  height: 72px;
  display: flex;
  align-items: center;
}

.navbar-back {
  font-size: var(--font-2-size);
  font-weight: bold;
  border-bottom: solid 2px;
  height: 72px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;

  & a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: 550px) {
  .has-navbar-menu-local {
    padding-left: 100px;
  }
}
@media (max-width: 549px) {
  .has-navbar-menu-local {
    padding-top: 55px;
  }
}

.navbar-menu-local {
  list-style: none;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 5vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  width: max-content;
  font-size: var(--font-size-1);
  font-weight: 900;
  text-transform: uppercase;
  background-color: color-mix(in srgb, var(--color-sepia), transparent 20%);
  backdrop-filter: blur(8px);

  @media (min-width: 550px) {
    left: 5vw;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  & a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1rem;

    &:hover {
      background-color: var(--color-white);
    }
  }
}