<ul class="block-speakerGrid">
  {{ for speaker of block }}
  <li>
  <button class="speaker-button">
    <div class="has-dotsShadow">
      <img class="speaker-image" src="{{ speaker.img }}">
    </div>
    
    <h4 class="speaker-name">{{ speaker.name }}</h4>

    <p class="speaker-description">
      {{ if speaker.company }}
      {{ speaker.company }}<br>
      {{ /if }}
      <em class="speaker-position">{{ speaker.position }}</em>
    </p>
  </button>
  </li>
  {{ /for }}
</ul>