<figure class="block-video">
  <trg-video id="video-{{ block.id }}" data-id="{{ block.id }}">
    <div class="has-dotsShadow">
      <img src="{{ block.cover }}" alt="{{ block.alt }}">
      <a href="https://vimeo.com/{{ block.id }}" target="_blank">Ver en Vimeo</a>
    </div>
  </trg-video>
</figure>
