html {
  font-family: var(--font-family);
  background-color: var(--color-sepia);
  color: var(--color-black);
  scroll-padding-top: 5vh;
}
hr {
  width: 100%;
  border-width: 2px;
  margin: 5vh 0;
}
a {
  color: var(--color-gray);

  &:hover {
    color: var(--color-black);
    text-decoration: none;
  }
}
:focus-visible {
  outline-color: currentColor;
}