:root {
  --font-family: Roobert, system-ui, sans-serif;
  --color-sepia: #fefce8;
  --color-red: #dd0002;
  --color-red-light: #dd000244;
  --color-white: white;
  --color-black: #000;
  --color-gray: #444;
  --color-gray-light: #0004;
  --color-gray-xlight: #0001;

  --scale: 1.25;
  @media (max-width: 1200px) { --scale: 1.2; }
  @media (max-width: 800px) { --scale: 1.15; }
  @media (max-width: 450px) { --scale: 1.1; }

  --font-0-size: .875rem;
  --font-0-spacing: 0;
  --font-1-size: 1rem;
  --font-1-spacing: -0.01em;
  --font-2-size: calc(var(--font-1-size) * var(--scale));
  --font-2-spacing: -0.015em;
  --font-3-size: calc(var(--font-2-size) * var(--scale));
  --font-3-spacing: -0.02em;
  --font-4-size: calc(var(--font-3-size) * var(--scale));
  --font-4-spacing: -0.025em;
  --font-5-size: calc(var(--font-4-size) * var(--scale));
  --font-5-spacing: -0.03em;
  --font-6-size: calc(var(--font-5-size) * var(--scale));
  --font-6-spacing: -0.035em;
  --font-7-size: calc(var(--font-6-size) * var(--scale));
  --font-7-spacing: -0.035em;
  --font-8-size: calc(var(--font-7-size) * var(--scale));
  --font-8-spacing: -0.035em;
  --font-9-size: calc(var(--font-8-size) * var(--scale));
  --font-9-spacing: -0.035em;
  --font-10-size: calc(var(--font-9-size) * var(--scale));
  --font-10-spacing: -0.035em;

  --line-height-text: 1.5;
  --line-height-medium: 1.3;
  --line-height-title: 1;


  --column-gap: 5vw;
  --row-gap: min(100px, 20vh);
  --border-radius: 12px;
  --border-radius-small: 8px;
}