html {
  font-family: var(--font-family);
  background-color: var(--color-sepia);
  color: var(--color-black);
  scroll-behavior: smooth;
  text-rendering: auto;
  overflow-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
hr {
  width: 100%;
  border-width: 2px;
  margin: 5vh 0;
}
a {
  color: var(--color-gray);

  &:hover {
    color: var(--color-black);
    text-decoration: none;
  }
}