.has-dotsShadow {
  position: relative;
  display: block;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.has-dotsShadow::after,
.dots {
  --size: 25;
  --scale: 8px;
  --color: var(--color-black);
  --background-image: linear-gradient(transparent, transparent);
  --background-position: 0px 0px;
  --background-size: auto auto;
  --point: calc((clamp(1, var(--size), 100) * 0.4%) + 10%);
  
  background-image: 
    var(--background-image),
    radial-gradient(var(--color) var(--point), transparent var(--point)),
    radial-gradient(var(--color) var(--point), transparent var(--point));

  background-position:
    var(--background-position),
    0px 0px,
    calc(var(--scale) / 2) calc(var(--scale) / 2);

  background-size:
    var(--background-size),
    var(--scale) var(--scale),
    var(--scale) var(--scale);
}
