.faq {

}
.faq-question {
  border: none;

  & summary {
    font-size: var(--font-3-size);
    font-weight: bold;
    line-height: var(--line-height-intro);
    letter-spacing: var(--font-3-spacing);
    margin: 0;
    padding-left: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}
.faq-answer {
  padding-left: 38px;
  font-size: var(--font-1-size);
  line-height: var(--line-height-text);
  letter-spacing: var(--font-1-spacing);

  & p {
    margin-top: 0;
  }
}