.navbar {
  position: sticky;
  top: 0;
  background-color: color-mix(in srgb, var(--color-sepia), transparent 20%);
  backdrop-filter: blur(8px);
}

.navbar-content {
  height: 72px;
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 1em;
}