<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="humans.txt" />
  <title>{{ title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <link href="/styles/common.css?{{ cache }}" rel="stylesheet">
  <script src="/js/common.js?{{ cache }}" type="module"></script>
  {{ if it.styles }}<link href="{{ styles + "?" + cache }}" rel="stylesheet">{{ /if }}
  {{ if it.scripts }}<script src="{{ scripts + "?" + cache }}" type="module"></script>{{ /if }}
</head>

<body id="top" class="{{ it.body_class }}">
  {{ include "templates/navbar.vto" }}

  {{ content }}
</body>
</html>
