---
layout: ./base.vto
styles: /styles/community-day.css
---

<main class="ly-wrapper-grid community-container">
  {{ include "templates/blocks/header.vto" { block: header } }}
  {{ include "templates/blocks/activity-grid.vto" { block: activities } }}
  {{ include "templates/blocks/faq.vto" { block: faq } }}

  {{ include "templates/footer.vto" }}
</main>
