---
layout: ./base.njk
styles: /styles/home.css
scripts: /js/home.js
---

<main class="ly-wrapper-grid home-container dots has-navbar-menu-local">
  <ul class="navbar-menu-local" id="menu">
    {% for item in menu_local %}
    <li>
        <a href="{{ item.url }}">
            {{ item.text }}
        </a>
    </li>
    {% endfor %}
  </ul>

  <div class="home-splash">
    <div class="home-splash-figure has-dotsShadow">
      <picture>
        <source srcset="/img/acreditacion-mobile.png" media="(max-width:500px)">
        <img class="home-splash-image" src="/img/acreditacion.png">
      </picture>
      <div class="home-splash-name">
        <trg-name></trg-name>
      </div>
    </div>
  </div>


  <section class="home-section is-about">
    <div class="home-section-content">
      <header>
        <h2 class="text-title-big">{{ about.title }}</h2>
      </header>

      <div class="text-intro">
        {{ about.intro | md | safe }}
      </div>
    </div>

    <figure class="home-section-media">
      <trg-video id="video-resume" data-id="829383642">
        <div class="has-dotsShadow">
          <img src="/img/trg22-poster.jpg">
        </div>
      </trg-video>
    </figure>
  </section>

  <section class="home-section is-contact" id="contacto">
    <header>
      <h2 class="text-title">{{ contact.title }}</h2>
    </header>

    {% for item in contact.items %}
    <address class="text-base">
      <h3 class="text-intro">{{ item.title }}</h3>
      {{ item.info | md | safe }}

      <ul>
      {% for link in item.links %}
        <li>
          <img src="{{ link.icon }}" width=24 height=24>
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </address>
    {% endfor %}
  </section>

  <section class="home-section is-faq" id="faq">
    <header class="has-dotsShadow">
      <h2 class="text-title over-dotsShadow"><span>{{ faq.title }}</span></h2>
    </header>

    <div class="faq">
      {% for item in faq.questions %}
      <details class="faq-question">
        <summary>{{ item.question }}</summary>
        <div class="faq-answer">
          {{ item.answer | md | safe }}
        </div>
      </details>
      {% endfor %}
    </div>
  </section>

  {% include "templates/footer.njk" %}
</main>