---
layout: ./base.vto
styles: /styles/speakers.css
---

<main class="ly-wrapper-grid speakers-container has-navbar-menu-local">
  {% include "templates/logo.njk" %}
  {% include "templates/navbar.njk" %}

  {% set block = header %}
  {% include "templates/blocks/header.njk" %}

  <div class="img-tentacle-container">
    <img src="/img/tentaculo1.png" class="img-tentacle">
  </div>

  <ul class="speakers-highlights">
      {% for item in highlights %}
      <li class="dots">
        <div class="over-dotsShadow">
          <h3>{{ item.title | safe }}</h3>
          {{ item.description | md | safe }}
        </div>
      </li>
      {% endfor %}
  </ul>

  {% set block = image %}
  {% include "templates/blocks/big-img.njk" %}

  <section class="speakers-intro" id="las-charlas">
    <h2 class="intro-title">{{ intro.title }}</h2>
    <div class="intro-aside">{{ intro.aside | md | safe }}</div>

    <div class="intro-text has-links">
      {{ intro.text | md | safe }}
    </div>
  </section>

  {% set block = video %}
  {% include "templates/blocks/video.njk" %}

  <section class="benefits" id="beneficios">
      {% set block = benefits %}
      {% include "templates/blocks/header.njk" %}

      {% set block = benefits.items %}
      {% include "templates/blocks/img-grid.njk" %}
  </section>

  <div>
      {% set block = speakers %}
      {% include "templates/blocks/header.njk" %}

      {% set block = speakers.quotes %}
      {% include "templates/blocks/quotes.njk" %}
  </div>

  {% set block = speakers.speakers %}
  {% include "templates/blocks/img-grid.njk" %}

  <section class="resources" id="recursos">
    <h2 class="resources-title">{{ resources.title }}</h2>

    <ul class="resources-links has-links">
      {% for item in resources.links %}
      <li>
        <a href="{{ item.href }}">
          {{ item.text }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>

  {% include "templates/footer.njk" %}
</main>
