---
layout: ./base.vto
styles: /styles/sponsors.css
---

<main class="ly-wrapper-grid sponsors-container">
  {{ include "templates/logo.vto" }}

  {{ include "templates/blocks/header.vto" { block: header } }}
  {{ include "templates/blocks/cta.vto" { block: dossier } }}
  {{ include "templates/blocks/highlights.vto" { block: highlights } }}
  {{ include "templates/footer.vto" }}
</main>
