@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home-container {
  --background-image: linear-gradient(to bottom, transparent, var(--color-sepia) min(60vh, 500px));
  --row-gap: min(100px, 20vh);
  row-gap: var(--row-gap);
  padding-bottom: var(--row-gap);
}

.home-splash {
  grid-column: 1 / -1;
}
.home-splash-figure {
  width: min(800px, 90vw);
  margin-left: auto;
  position: relative;

  & img {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    object-position: bottom left;
  }
}
.home-splash-name {
  position: absolute;
  bottom: 140px;
  left: max(16%, 120px);
  font-family: 'Permanent Marker', cursive;
  color: var(--color-red);
  font-size: 24px;

  .typed-cursor {
    display: none;
  }
}

.home-section-media {
  margin: 0;
  padding: 0;
}

.home-section.is-about {
  grid-column: 2 / -1;
  display: grid;
  column-gap: var(--column-gap);
  grid-template-columns: 500px 1fr;

  & .home-section-content {
    border-bottom: solid 2px;
    padding-bottom: var(--row-gap);
  }

  & trg-video img {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}

.home-section.is-contact {
  display: grid;
  column-gap: var(--column-gap);
  grid-template-columns: repeat(3, minmax(0, 1fr));

  & address {
    font-style: normal;

    & p {
      margin-top: 0;
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: .2em 0;
  }
  & img {
    vertical-align: middle;
  }
}

.home-section.is-faq {
  display: grid;
  column-gap: var(--column-gap);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-top: solid 2px;
  padding-top: var(--row-gap);

  & .faq {
    grid-column: 2 / 4;
    border-bottom: solid 2px;
    padding-bottom: var(--row-gap);
  }
}