@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home-container {
  --background-image: linear-gradient(to bottom, transparent, var(--color-sepia) min(60vh, 500px));
  row-gap: var(--row-gap);
  padding-bottom: var(--row-gap);
}

.home-splash {
  grid-column: 1 / -1;
}
.home-splash-figure {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  margin-top: -55px;
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: top center;

  @media (min-width: 550px) {
    width: min(700px, calc(90vw - 100px));
    margin-top: 0;
  }

  & img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: bottom left;
    position: relative;
    z-index: 2;
  }

  &::after {
    --size: 50;
    --border-color: transparent;

    height: 55%;
    top: auto;
    bottom: 0;
    border-radius: 20px;
    animation-name: showShadow;
    animation-duration: .6s;
    animation-delay: 1s;
    animation-fill-mode: both;
    background-color: var(--color-sepia);
  }
}
.home-splash-name {
  position: absolute;
  z-index: 2;
  bottom: 8%;
  left: 20%;
  right: 8%;
  font-family: 'Permanent Marker', cursive;
  color: var(--color-red);
  font-size: clamp(18px, 4vw, 35px);

  .typed-cursor {
    display: none;
  }
}

.home-section {
  position: relative;
}

.home-section.is-about {
  display: grid;
  column-gap: var(--column-gap);

  & .text-title-big {
    max-width: 9em;
  }

  @media (min-width: 1000px) {
    grid-column: 2 / -1;
    grid-template-columns: min(500px, 40vw) 1fr;

    & .home-section-content {
      border-bottom: solid 2px;
      padding-bottom: var(--row-gap);
    }

    .block-video {
      align-self: start;
      position: sticky;
      top: 100px;

      & img {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
    }
  }
}

.home-section.is-contact {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2em;

  & address {
    font-style: normal;

    & p {
      margin-top: 0;
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: .2em 0;
  }
  & img {
    vertical-align: middle;
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & header {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & header {
      grid-column: 1;
    }
  }
}

.home-section.is-faq {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2em;
  border-top: solid 2px;
  padding-top: var(--row-gap);

  & .faq {
    border-bottom: solid 2px;
    padding-bottom: var(--row-gap);
  }

  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & .faq {
      grid-column: 2 / 4;
    }
  }

  .has-dotsShadow::after {
    animation: anim-shape-1 5s linear infinite alternate both;
    height: 200px;
    width: 250px;
    top: -120px;
    left: -100px;
    --color: var(--color-gray);
    --border-color: var(--color-gray-light);
  }
}

.home-section.is-speakers {
  display: grid;
  row-gap: 2em;
  border-bottom: solid 2px;
  padding-bottom: var(--row-gap);
}
.home-section.is-communityday {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  align-items: center;
  justify-content: center;
  justify-items: center;

  .text-body {
    margin: 1.5rem 0;
  }

  .home-section-content {
    background: var(--color-sepia);
  }
  > img {
    width: clamp(200px, 50vw, 350px);
  }
  @media (min-width: 1100px) {
    grid-template-columns: 1fr 1fr;

    > img {
      order: -1;
    }
  }
}

.img-tentaculo {
  position: absolute;
  left: 0;
  width: max(200px, 80vw);
  margin-top: -5vh;

  @media (min-width: 800px) {
    width: clamp(200px, 50vw, 800px);
  }
}

.img-glasses {
  width: 400px;
  max-width: 100%;

  @media (min-width: 1050px) {
    position: absolute;
    right: 60vw;
    top: 200px;
  }
}

.calendar-days {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  margin-top: calc(var(--row-gap) / 2);

  @media (min-width: 1100px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
.calendar-day {
  & h4 {
    font-size: var(--font-2-size);
    letter-spacing: var(--font-2-spacing);
    line-height: var(--line-height-title);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 2px;
    padding: 1rem 2rem;
    margin: 0;

    @media (min-width: 1100px) {
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }

  & dl {
    margin: 0;
    padding: 1.5rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    @media (min-width: 1100px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  & dt {
    & strong {
      display: block;
      font-size: var(--font-2-size);
      letter-spacing: var(--font-2-spacing);
      margin-top: 0.2em;
    }
  }
  & dd {
    margin: 0;
    font-size: var(--font-1-size);
    letter-spacing: var(--font-1-spacing);
    line-height: var(--line-height-text);
  }

  & p {
    margin-bottom: 0;
  }
}
.calendar-event {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-radius);
  border: solid 1px var(--color-gray-xlight);
  margin: 0;
}

.home-section.is-patron {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  text-align: center;

  @media (min-width: 1200px) {
    grid-template-columns: 300px 1fr;
    text-align: left;
  }

  .home-section-title {
    font-size: var(--font-3-size);
    letter-spacing: var(--font-3-spacing);
    line-height: var(--line-height-title);
    margin: 0;
  }
  .home-section-intro {
    font-size: var(--font-2-size);
    letter-spacing: var(--font-2-spacing);
    line-height: var(--line-height-medium);
    max-width: 30em;
    margin: 0 auto;
  }

  .block-imgGrid {
    --width: 150px;
    --img-size: 120px;
  }
}

.home-section.is-partners {
  display: grid;
  row-gap: 4rem;

  .main-partner {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;

    & img {
      width: 800px;
      max-width: 100%;
      display: block;
      filter: saturate(0%);
    }

    &:hover img {
      filter: none;
    }

    & p {
      font-size: var(--font-3-size);
      letter-spacing: var(--font-3-spacing);
      font-weight: bold;
      margin-top: 1.5em;
    }
  }

  & hr.dots {
    margin: 0;

    + .block-partnersGrid {
      --width: 150px;
    }
  }
}

.home-section.is-timeline {
  grid-column: 1 / -1;
}

.home-section.is-tickets {
  padding: 5vw;

  .text-body {
    margin: 1.5rem 0;
  }

  .home-section-content {
    padding: 5vw;
    background: var(--color-sepia);
    display: grid;
    justify-content: space-evenly;
    column-gap: 2rem;
    row-gap: 4rem;
    align-items: center;
    text-align: center;

    @media (min-width: 1100px) {
      grid-template-columns: 400px minmax(0, 620px);
    }
  }

  .tickets-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > img {
      width: 15vw;
      max-width: 120px;

      @media (min-width: 1100px) {
        width: 10vw;
      }
    }
  }
}

/* https://github.com/animate-css/animate.css/blob/main/source/bouncing_entrances/bounceInDown.css */
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) rotate(5deg);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  75% {
    transform: translate3d(0, -35px, 0) rotate(2deg);
  }

  90% {
    transform: translate3d(0, -20px, 0) rotate(-1deg);
  }

  to {
    transform: translate3d(0, -25px, 0) rotate(0deg);
  }
}


@keyframes showShadow {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, 50px);
  }
  to {
    transform: translate(-10px, 10px);
  }
}