@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home-container {
  --background-image: linear-gradient(to bottom, transparent, var(--color-sepia) min(60vh, 500px));
  --row-gap: min(100px, 20vh);
  row-gap: var(--row-gap);
  padding-bottom: var(--row-gap);
}

.home-splash {
  grid-column: 1 / -1;
}
.home-splash-figure {
  width: min(700px, calc(90vw - 100px));
  margin: 0 auto;
  position: relative;

  & img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: bottom left;
  }
}
.home-splash-name {
  position: absolute;
  bottom: 8%;
  left: 20%;
  right: 8%;
  font-family: 'Permanent Marker', cursive;
  color: var(--color-red);
  font-size: min(35px, 4vw);

  .typed-cursor {
    display: none;
  }
}

.home-section-media {
  margin: 0;
  padding: 0;
}

.home-section.is-about {
  display: grid;
  column-gap: var(--column-gap);

  & .text-title-big {
    max-width: 9em;
  }

  & trg-video img {
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
  }
  & trg-video > .has-dotsShadow::after {
    border-radius: var(--border-radius);
    transition: transform 200ms;
  }
  & trg-video > .has-dotsShadow:hover::after {
    transform: translate(-1em, 1em);
    border: solid 1px var(--color-gray-light);
  }

  @media (min-width: 1000px) {
    grid-column: 2 / -1;
    grid-template-columns: min(500px, 40vw) 1fr;

    & .home-section-content {
      border-bottom: solid 2px;
      padding-bottom: var(--row-gap);
    }

    & trg-video img {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    .home-section-media {
      align-self: start;
      position: sticky;
      top: 100px;
    }
  }
}

.home-section.is-contact {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2em;

  & address {
    font-style: normal;

    & p {
      margin-top: 0;
    }
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    margin: .2em 0;
  }
  & img {
    vertical-align: middle;
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & header {
      grid-column: 1 / -1;
    }
  }
  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & header {
      grid-column: 1;
    }
  }
}

.home-section.is-faq {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2em;
  border-top: solid 2px;
  padding-top: var(--row-gap);

  & .faq {
    border-bottom: solid 2px;
    padding-bottom: var(--row-gap);
  }

  @media (min-width: 1050px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & .faq {
      grid-column: 2 / 4;
    }
  }

  .has-dotsShadow::after {
    animation: anim-shape-1 5s linear infinite alternate both;
    height: 200px;
    width: 250px;
    top: -120px;
    left: -100px;
    --color: var(--color-gray);
    --border-color: var(--color-gray-light);
  }
}