.speaker-container {
  row-gap: var(--row-gap);
}

.speaker-article {
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 2rem;
  border-bottom: solid 3px;
  grid-template-columns: 1fr 200px 1fr;
  padding-bottom: var(--row-gap);
  grid-template-areas:". img ." 
                      "header header header"
                      "links links links"
                      "bio bio bio"
                      "conference conference conference";

  @media (min-width: 600px) {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "img header"
                      "img links"
                      "bio bio"
                      "conference conference";
  }

  @media (min-width: 900px) {
    grid-template-columns: 300px 1fr;
    grid-template-areas: "img header"
                      "img links"
                      "img bio"
                      "conference conference";
  }
  
  @media (min-width: 1201px) {
    grid-template-columns: 400px 1fr;
    grid-template-areas: "img header"
                      "img links"
                      "img bio"
                      "img conference"
                      "other other";
    .speaker-image {
      position: sticky;
      top: 50px;
    }
  }

  .speaker-image {
    grid-area: img;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 2px currentColor;
    margin: 0 auto;
    background: repeating-conic-gradient(from 30deg, var(--color-red) 0deg 30deg, var(--color-sepia) 30deg 60deg);
    max-width: 100%;
  }

  .speaker-bio {
    grid-area: bio;
  }
  .speaker-conferences {
    grid-area: conference;
    display: grid;
    row-gap: 1em;
  }
  .speaker-conference {
    display: grid;
    row-gap: 1em;
    background: var(--color-white);
    color: var(--color-black);
    padding: min(var(--column-gap), 4rem);
    border: solid 1px var(--color-gray-xlight);
    border-radius: var(--border-radius);
  }
  .speaker-conference-header {
    & p {
      margin: 0;
      color: var(--color-gray);
    }
  }

  .speaker-role {
    font-size: var(--font-3-size);
    line-height: var(--line-height-medium);
    letter-spacing: var(--font-3-spacing);
    margin: .5em 0 0;
  }
  .speaker-header {
    grid-area: header;
    align-self: end;
    text-align: center;

    @media (min-width: 600px) {
      text-align: left;
    }
  }
  .speaker-links {
    grid-area: links;
    align-self: start;
    font-style: normal;

    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 1em;
      justify-content: center;

      @media (min-width: 600px) {
        justify-content: start;
      }
    }

    & a {
      display: block;
      padding: .6em;
      background: var(--color-gray-xlight);
      text-decoration: none;
      border-radius: var(--border-radius);

      & img {
        display: block;
      }
      &:hover {
        background: var(--color-white);
      }
    }
  }
}
