main {
  --row-gap: min(100px, 20vh);
  padding-bottom: var(--row-gap);
}
.text {
  padding-bottom: var(--row-gap);
  padding-top: calc(5vw + 1em);
}

@media (min-width: 700px) {
  .text-body {
    background-color: var(--color-sepia);
    position: relative;
    padding: 2rem 0 0 5vw;
    margin-left: -5vw;
    margin-top: -2rem;
  }
}
.text-title.has-dotsShadow::after {
  --size: 10;

  border: solid 1px var(--color-gray-light);
  width: 300px;
  height: 300px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  top: -50px;
  left: -20vw;
}
@media (max-width: 700px) {
  .text-title.has-dotsShadow::after {
    --size: 8;
    border: none;
  }
}
